:root {
  --inactive-color: #ddd;
  --active-color: #ffa500d5;
  /* --active-color: #ffd382; */

  --text-color: #555;
  /* --max-height: */
  --icon-size: 8.5vw;
  /* --music-level: 80%; */
  --slider-level: 25%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
  font-family: Arial, sans-serif;

}

.content {
  flex: 1;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;

  /* align-items: center; */
  /* padding: 2rem; */
  /* border: 1px solid red; */
  width: 100%;
  height: 80vh;
}

/* ////////////////////////////////// */
.header {
  /* background-color: #333; */
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  height: 15vh;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  /* width: 79%; */
  width: 100%;
  justify-content: center;
  margin-left: 0;
  position: relative;
}

.header>img {
  display: block;
  width: 100%;
  max-width: 60%;
  height: auto;
}

/* ////////////////////////// */
/* /////////////////////////////////////////// */
/* /////////////////////////////////////////// */


.button-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* gap: 1rem; */
  /* border: 1px solid red; */
  /* width: 100%; */
  width: 90%;
  height: 95%;
  align-items: center;
  padding: 20px;
  padding-right: 3vw;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button-wrapper i {
  border: 2px solid var(--text-color);
  font-size: calc(var(--icon-size) * 0.45);
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  color: var(--text-color);

}

.button-wrapper.active i {
  background-color: var(--active-color);


}

.button {
  margin-top: 2px;
  padding: 8px 12px;
  /* font-size: 12px; */
  border: none;
  outline: none;
  cursor: pointer;
  /* background-color: var(--inactive-color); */
  /* background-color: transparent; */
  color: #fff;
  border-radius: 5px;
  /* transition: background-color 0.3s ease; */
  /* border: 1px solid orange; */
  color: var(--text-color);
  font-size: calc(var(--icon-size) * 0.18);

}

.button-grid .button.active {
  background-color: var(--active-color);
}

/* //////////////////////////// */

/* /////////////////////////////////////////// */
/* /////////////////////////////////////////// */
.lock-panel {
  /* width: 10%; */
  /* margin: 20px 0; */
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  height: 90%;

  position: absolute;
  right: 2%;
}

.lock-panel-element {
  /* border: 1px solid red; */
  margin: 20px 0;
  /* border: 1px solid red; */
}

.lock-panel-element .circle {
  border: 1px solid var(--text-color);
  font-size: calc(var(--icon-size) * 0.35);
  width: calc(var(--icon-size) * 0.75);
  height: calc(var(--icon-size) * 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.6s 0.0s;
}

.circle.open {
  transition: 0.6s 0.4s;

  background-color: var(--active-color);
}

/* /////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* #region */

.right-panel {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;

  /* align-items: flex-end; */
  /* padding: 2rem; */
  /* border: 1px solid greenyellow; */
  height: 100%;
  /* width: 25%; */
  width: 15%;
  margin-left: 3%;

  padding-bottom: 15vh;
}

.right-panel-element {
  /* border: 1px solid red; */

  color: var(--text-color);
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #55555577;
}

.right-panel-element .circle {
  border: 1px solid var(--text-color);
  font-size: calc(var(--icon-size) * 0.25);
  width: calc(var(--icon-size) * 0.5);
  height: calc(var(--icon-size) * 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.right-panel-element p {
  /* width: 80%; */
  /* padding: 20px; */
  padding: 0px;
  width: 0 !important;
  margin: 0;

  /* border: 1px solid red; */
  flex-grow: 1;
}

.right-panel-element .arrow {
  /* border: 1px solid red; */
  font-size: calc(var(--icon-size) * 0.25);
  width: calc(var(--icon-size) * 0.25);
  height: calc(var(--icon-size) * 0.25);
  display: flex;
  align-items: center;
  justify-content: center;

}

/* #endregion */



/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */

.modal {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000077;
  transition: 0.4s;
  font-family: Helvetica, sans-serif;

  color: var(--text-color);
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.modal-container {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
  /* background-color: white; */
  /* padding: 30px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  /* border: 1px solid red; */
  width: 60%;
}

/* .modal-title {} */

.modal-input {
  border: 1px solid #00000099;
  height: 50px;
  border-radius: 50px;
  font-size: 25px;
  padding: 0 20px 0 70px;
}




.key-icon,
.ok-icon,
.modal-button-ok {
  position: absolute;
  top: 50%;
  font-size: 30px;
  transform: translate(100%, calc(-50% - 0px));
  color: var(--active-color);
}



.ok-icon,
.modal-button-ok {
  right: 57px;
  font-size: 20px;
  color: white;
  background-color: var(--active-color);
  padding: 6px;
  border-radius: 50%;
}


.modal-button {
  background-color: white;
  /* border: 1px solid red; */
  /* border: 1px solid var(--active-color); */
  background-color: var(--active-color);
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.modal-button:active,
.modal-button:focus {
  background-color: var(--active-color);
}



/* ////////////////// */
/* ////////////////// */
/* ////////////////// */
/* ////////////////// */
/* ////////////////// */

.slider {
  position: absolute;
  left: 0;
  left: unset;
  right: 10%;
  height: 70%;
  width: 7%;
  border: 1px solid var(--text-color);
  border-radius: 5px;

}

.slider::before {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: unset;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 80%; */
  height: var(--slider-level);
  background-color: var(--active-color);
  /* background-color: var(--text-color); */

}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: 0.4s;
  pointer-events: none;
}

.blackout.show {
  pointer-events: all;
  opacity: 1;
}